@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<br>




<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" max-height="39rem">
    <div class="carousel-item active" data-bs-interval="1000">
      <img class="d-block w-100" src="/images/foto1.jpg" alt="First slide" height="850px">
    </div>

    <div class="carousel-item" data-bs-interval="1000">
      <img class="d-block w-100" src="/images/foto2.jpg" alt="Second slide" height="850px">
    </div>

    <div class="carousel-item" data-bs-interval="1000">
      <img class="d-block w-100" src="/images/foto3.jpg" alt="Third slide" height="850px">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    
  </a>
</div>

<br>
<br>
<sectoin class="w-50 mx-auto text-center pt-5" id="intro">
  <h1 class="p-3 fs-2 border-top borde-3">Perdidos en el tiempo, hemos dado por sentado los orígenes de la cocina peruana, avanzando a un ritmo que no sólo asombra a nuestra tierra, pero al mundo entero.Hemos realzado 
  <span class="text-primary">los matices, sabores y olores</span> no sólo de nuestra puesta en escena pero de nuestra gente, nuestra cultura, nuestra realidad.</h1>
  <p class="p-3 fs-4">Nos hemos enamorado del orgullo de ser únicos, pero a la vez hemos olvidado las raíces, el inicio del inicio.Hoy, proponemos recordar lo que siempre fue nuestro y parecía olvidado; <span class="text-primary">la fusión del pasado y el presente.</span></p>
</sectoin>

<section class="container-fluid">
  <div class="row w-75 mx-auto servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="/images/foto5.jpg" alt="" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">plato estrella</h3>
        <p class="px-4">
          loremdfsdgdfhgfkkgsdfs
          hgfndfasgfsrhgfjfgsfds
          gdfhloremdfsdgdfhgfkkg
          sgfsrhgfjfgsfdsgdfhdfh
          dfhgfkkgsdfshgfndfasgf
          fdfhddfhgfkkgsdfshgfnd
          fasgff</p>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="/images/foto6.jpg" alt="" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">plato estrella</h3>
        <p class="px-4">
          loremdfsdgdfhgfkkgsdfs
          hgfndfasgfsrhgfjfgsfds
          gdfhloremdfsdgdfhgfkkg
          sgfsrhgfjfgsfdsgdfhdfh
          dfhgfkkgsdfshgfndfasgf
          fdfhddfhgfkkgsdfshgfnd
          fasgff</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="/images/foto5.jpg" alt="" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">plato estrella</h3>
        <p class="px-4">
          loremdfsdgdfhgfkkgsdfs
          hgfndfasgfsrhgfjfgsfds
          gdfhloremdfsdgdfhgfkkg
          sgfsrhgfjfgsfdsgdfhdfh
          dfhgfkkgsdfshgfndfasgf
          fdfhddfhgfkkgsdfshgfnd
          fasgff</p>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="/images/foto6.jpg" alt="" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">plato estrella</h3>
        <p class="px-4">
          loremdfsdgdfhgfkkgsdfs
          hgfndfasgfsrhgfjfgsfds
          gdfhloremdfsdgdfhgfkkg
          sgfsrhgfjfgsfdsgdfhdfh
          dfhgfkkgsdfshgfndfasgf
          fdfhddfhgfkkgsdfshgfnd
          fasgff</p>
      </div>
    </div>
    
  </div>
  </section>
</section>

<section id="pircing">
  <div class="container">
    <div clas="content-center">
      <h2>keep csdafesegdsghdfhdfghdfhdhfg<b>asdasdadasdsd</b></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate 
        quo, repellendus rem quos quod, porro dolores tenetur sit exercitationem 
        temporibus ea consequuntur quibusdam, veniam nesciunt est maxime molestias 
        culpa cum.</p>

    </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 my-5">
        <div class="pircing-container">
          <div class="plans plan-light">
              <h4>started</h4>
              <h2>$89 <span>dsdsd</span></h2>
              <h4>asdada sdadas dsdas</h4>
              <ul class="topmargin-xs">
                  <li>asddsadsadsdsdasdasd</li>
                  <li>asdasdsdasdasdsdadas</li>
                  <li>sdasdadasdasdsad</li>
                  <li>sdasdsafgdsgfsfsfsdf</li>
              </ul>
              <a href="#" class="btn btn-dark full-width topmargin-sm">boton</a>
          </div>

        </div>
      </div>
      
        <div class="col-md-6 my-5">
          <div class="pricing-container">
            <div class="plans plan-light">
              <h4>started</h4>
              <h2>$89 <span>dsdsd</span></h2>
              <h4>asdada sdadas dsdas</h4>
              <ul class="topmargin-xs">
                  <li>asddsadsadsdsdasdasd</li>
                  <li>asdasdsdasdasdsdadas</li>
                  <li>sdasdadasdasdsad</li>
                  <li>sdasdsafgdsgfsfsfsdf</li>
              </ul>
              <a href="#" class="btn btn-dark full-width topmargin-sm">boton</a>
          </div>

        </div>
        </div>
    </div>
  </div>
  

</section>

<br>
<br>
<br>


 