@{
    ViewData["Title"] = "Nosotros";
}
<br>
<section>
    <div class="w-75 m-auto text-center" id="equipo">
        <h1 class="mb-5 fs-2">@ViewData["Title"]</h1>
        <p class="fs-4">Un ideal. Nuestra propuesta se basa en rescatar la tradición perdida de una cultura que ha evolucionado sin darse el tiempo de mirar hacia atrás.Recetas y tradiciones llenas de riqueza culinaria que se han difuminado en el tiempo, son rescatadas y transformadas con técnicas modernas, dando paso a una cocina de autor con carácter y personalidad.Impregnados de historia e identidad, nuestros platos son el reflejo de la evolución en manos de un equipo que cree que el pasado puede conversar con el presente en un ambiente que ha dado mucho a nuestra realidad: la gastronomía.</p>
    </div>
    <div class="mt-5 text-center">
        <img class="img-fluid" src="/images/nosotros.jpg"> 
    </div>
    <br>
    <br>
    <br>
    
        
    <br>
    <br>
    <div id="local" class="borde-top border-2" >        
        <div class="mapa"><img class="img-fluid" src="/images/mapa.jpg"></div>
        <div>
            <div class="wrapper">
                <h2>ubicado en la molina</h2>
                <h2 class="text-primary mb-4" id="typewriter"></h2>
                <p class="fs-5 text-body">Nuestra cocina: en donde la creatividad convive con la tradición y, la modernidad con el pasado. Nuestra identidad se centra en resaltar los pilares de los sabores peruanos, con técnicas modernas adaptadas a una realidad que exige ir más allá de lo convencional.</p>
                <section class="d-flex" id="numeros-local">
                    <div>
                        <p class="text-primary fs-5">50</p>
                        <p>Platos</p>
                    </div>
                    <div>
                        <p class="text-primary fs-5">1250</p>
                        <p>Usuarios</p>
                    </div>
                    <div>
                        <p class="text-primary fs-5">24°C</p>
                        <p>Temperatura</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>



  <br>
  <br>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
